{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ header }}
{% endblock %}

{% block content %}
    <h1 class="d-flex justify-content-center fst-italic fw-lighter">{{ header }}</h1>

    {% if user.is_authenticated %}
        <h2 class="mt-5 d-flex justify-content-center">Вход выполнен успешно!</h2>
        <div class="d-flex justify-content-center">
        <a class="btn btn-primary shadow mt-3 fs-4"
                            href="{% url 'index' %}">На главную
                    </a>
        <a class="ms-3 btn btn-primary shadow mt-3 fs-4"
                            href="{% url 'logout' %}">Выйти
                    </a>
        </div>
    {% else %}
        <div class="d-flex justify-content-center">
        <form method="post">
            {% csrf_token %}
            <div class="form-error"> {{ form.non_field_errors }}</div>
            {% for p in form %}
                <p><label for="{{ p.id_for_label }}">
                <h2>{{ p.label }}:</h2>
                <div style="font-size: 25px">{{ p }}</div>
                <div>{{ p.errors }}</div>
            {% endfor %}
            <div class="d-flex justify-content-center mt-3">
                <a class="d-flex justify-content-center ms-3" href="{% url 'social:begin' 'vk-oauth2' %}"><img
                        src="{% static 'vk.png' %}" alt="mdo" width="50" height="50"
                        class="rounded-circle shadow border border-2"></a>
                <a class="d-flex justify-content-center ms-3" href="{% url 'social:begin' 'google-oauth2' %}"><img
                        src="{% static 'google.png' %}" alt="mdo" width="50" height="50"
                        class="rounded-circle shadow border border-2"></a>
            </div>
            <div class="d-flex justify-content-center">
                <p>
                    <button class="btn btn-primary shadow mt-3 fs-4"
                            type="submit">Войти
                    </button>
            </div>
        </form>
    {% endif %}
    </div>


{% endblock %}